# --- Compilação e Build ---
target/
build/
out/
bin/

# --- Maven Wrapper ---
# É comum ignorar os scripts e a pasta .mvn se você espera que o usuário já tenha o Maven instalado
mvnw
mvnw.cmd
.mvn/

# --- IDEs (IntelliJ, VS Code, Eclipse) ---
.idea/
*.iws
*.iml
*.ipr
.vscode/
.classpath
.project
.settings/
.factorypath
.apt_generated
.springBeans
.sts4-cache

# --- NetBeans ---
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# --- Configurações Locais e Segredos (CRÍTICO) ---
.env
src/main/resources/mongo.properties
*.properties.local
*.log

# --- Sistema Operacional ---
.DS_Store
Thumbs.db